
## Wedge Task 2
This file connects to my GBQ database, builds a list of owners and takes a sample of those owner. We then export a csv file.

In [37]:
# Do our imports for the code
from google.cloud import bigquery
from google.oauth2 import service_account
import random #for random sample
import pyarrow

In [38]:
#Here I connect to my GBQ . Need to always verify I'm connecting to print project and dataset!

# These first two values will be different on your machine. 
service_path = "c:\\Users\\logan\\DataScience\\"
service_file = 'beskoonlettuce-327919-af8cb2931ac8.json' #change this to your authentication information  
gbq_proj_id = 'beskoonlettuce-327919' # change this to your poroject. 
#gbq_dataset_id = 'wedge_transactions' # and change this to your data set ID

# And this should stay the same. 
private_key =service_path + service_file

In [39]:
# Now we pass in our credentials so that Python has permission to access our project.
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

In [40]:
# And finally we establish our connection
client = bigquery.Client(credentials = credentials, project=gbq_proj_id) 
#client = bigquery.Client()

In [41]:
# Set up query to pull list of all the owners from transactions.
query = (
    "Select DISTINCT card_no,"
    "FROM `beskoonlettuce-327919.wedge_transactions.transArchive_*`"
    "WHERE card_no != 3 "
    #"GROUP BY card_no "
)

#Execute query with `client.query`
query_job = client.query(
    query,
)

In [45]:
#owners.clear()
#print(owners)
df1 = client.query(query).to_dataframe()

In [46]:
display(df1)

       card_no
0      47333.0
1      47389.0
2      47943.0
3      48022.0
4      48438.0
...        ...
27202  48694.0
27203  48712.0
27204  48594.0
27205  52300.0
27206  52280.0

[27207 rows x 1 columns]

In [49]:
# Here I generate the random sample of owners

sample_owners = df1.sample(n=1000)
display(sample_owners)

#If I wanted to put the samples in an array.
#arr = sample_owners.to_numpy()
#print(arr)

       card_no
4927   49488.0
24031  51131.0
2045   27016.0
10766  64866.0
7427   35900.0
...        ...
10422  49967.0
12465  42966.0
26531  25870.0
15561  37452.0
10645  25696.0

[1000 rows x 1 columns]

In [50]:
samples = sample_owners.values.tolist()
samples1 = [i[0] for i in samples]# this lil fella, he saves the day. He makes it a perfect list to query.
print(samples1)

[49488.0, 51131.0, 27016.0, 64866.0, 35900.0, 25036.0, 21847.0, 51030.0, 14227.0, 22537.0, 19768.0, 26862.0, 10609.0, 20903.0, 31021.0, 23251.0, 19044.0, 24820.0, 52051.0, 18748.0, 19016.0, 51221.0, 14619.0, 16537.0, 36087.0, 65806.0, 64361.0, 37521.0, 21523.0, 18022.0, 10299.0, 64403.0, 49428.0, 17796.0, 12106.0, 17020.0, 10899.0, 51950.0, 11606.0, 17207.0, 64687.0, 17060.0, 15873.0, 15246.0, 11822.0, 15605.0, 44519.0, 18316.0, 10755.0, 17822.0, 24101.0, 12845.0, 36842.0, 11391.0, 34624.0, 25700.0, 46638.0, 16814.0, 64552.0, 51495.0, 13599.0, 27608.0, 14797.0, 52586.0, 52256.0, 24779.0, 51247.0, 52486.0, 25205.0, 64851.0, 16434.0, 16139.0, 24608.0, 21230.0, 23831.0, 42778.0, 48420.0, 52590.0, 17043.0, 52205.0, 23230.0, 40588.0, 65472.0, 55590.0, 49058.0, 16741.0, 22628.0, 18014.0, 19460.0, 52767.0, 49705.0, 52915.0, 13847.0, 11629.0, 14256.0, 58172.0, 21428.0, 46734.0, 51721.0, 24527.0, 19301.0, 47819.0, 24248.0, 21110.0, 17979.0, 25473.0, 54663.0, 17641.0, 11922.0, 34777.0, 13140.0, 25158.0, 15399.0, 52826.0, 11623.0, 44766.0, 51242.0, 17708.0, 49638.0, 13858.0, 23540.0, 11550.0, 18032.0, 12092.0, 41071.0, 40752.0, 21666.0, 51238.0, 66160.0, 48022.0, 19167.0, 64904.0, 17756.0, 10200.0, 11124.0, 16015.0, 24948.0, 17030.0, 47862.0, 11006.0, 18371.0, 13097.0, 19877.0, 25117.0, 13076.0, 13930.0, 11539.0, 65365.0, 22689.0, 23744.0, 65012.0, 50747.0, 24509.0, 25326.0, 24829.0, 64642.0, 22997.0, 14384.0, 15328.0, 48809.0, 14261.0, 19710.0, 17004.0, 20400.0, 44821.0, 20553.0, 20854.0, 15446.0, 51222.0, 27843.0, 10409.0, 52817.0, 18756.0, 20445.0, 14009.0, 20168.0, 19978.0, 64574.0, 22079.0, 52726.0, 66167.0, 10532.0, 23996.0, 11946.0, 20034.0, 50054.0, 40426.0, 24673.0, 64930.0, 19962.0, 34825.0, 10861.0, 25204.0, 52101.0, 51567.0, 49383.0, 19189.0, 52520.0, 11143.0, 15700.0, 64455.0, 17400.0, 48600.0, 25514.0, 57422.0, 25524.0, 12246.0, 20578.0, 44545.0, 46429.0, 51723.0, 22531.0, 17545.0, 16262.0, 50902.0, 20150.0, 12936.0, 40202.0, 50983.0, 50859.0, 22255.0, 20584.0, 10154.0, 21026.0, 26881.0, 26952.0, 21216.0, 16687.0, 15091.0, 24725.0, 51571.0, 64028.0, 14480.0, 20365.0, 23124.0, 21740.0, 12931.0, 17095.0, 44673.0, 14075.0, 51600.0, 41376.0, 19966.0, 12611.0, 47504.0, 16678.0, 64293.0, 13665.0, 49132.0, 44792.0, 14730.0, 18896.0, 66076.0, 18194.0, 66087.0, 17540.0, 48651.0, 65289.0, 39454.0, 13327.0, 15790.0, 24119.0, 36805.0, 48590.0, 25233.0, 50263.0, 20645.0, 13042.0, 36452.0, 41444.0, 34934.0, 52404.0, 11034.0, 19654.0, 40675.0, 13465.0, 20889.0, 34372.0, 42459.0, 49729.0, 50345.0, 40557.0, 17421.0, 20417.0, 65858.0, 23034.0, 24133.0, 22987.0, 25281.0, 18092.0, 17062.0, 16095.0, 12503.0, 20875.0, 11172.0, 47802.0, 21182.0, 40457.0, 18093.0, 49349.0, 49851.0, 50164.0, 11408.0, 18193.0, 62226.0, 14127.0, 23087.0, 52331.0, 50671.0, 17782.0, 13188.0, 50218.0, 12221.0, 48453.0, 38517.0, 51570.0, 21791.0, 44430.0, 65814.0, 24009.0, 48659.0, 13051.0, 24191.0, 23195.0, 30004.0, 25740.0, 13518.0, 14616.0, 52432.0, 21678.0, 23399.0, 15555.0, 18460.0, 25265.0, 14581.0, 64229.0, 13557.0, 21165.0, 16420.0, 38488.0, 15699.0, 24631.0, 20395.0, 22645.0, 41385.0, 30309.0, 19549.0, 13964.0, 22591.0, 17239.0, 15827.0, 16908.0, 15967.0, 38262.0, 17000.0, 11291.0, 19983.0, 52599.0, 51211.0, 19438.0, 18247.0, 34752.0, 18932.0, 10295.0, 47528.0, 14537.0, 15617.0, 15184.0, 52526.0, 36122.0, 25688.0, 18591.0, 19063.0, 16310.0, 18669.0, 64484.0, 11898.0, 37725.0, 50491.0, 17066.0, 20009.0, 14984.0, 16975.0, 49078.0, 43082.0, 10129.0, 22701.0, 43083.0, 14686.0, 50349.0, 21189.0, 23453.0, 49348.0, 10446.0, 10119.0, 19618.0, 18324.0, 52684.0, 12176.0, 17285.0, 22235.0, 47543.0, 21433.0, 23594.0, 52571.0, 53746.0, 13786.0, 18959.0, 12494.0, 20324.0, 51472.0, 19446.0, 12731.0, 25316.0, 24864.0, 64797.0, 24705.0, 38666.0, 17751.0, 64973.0, 23604.0, 65082.0, 42149.0, 13949.0, 15955.0, 13370.0, 50641.0, 15510.0, 23591.0, 21710.0, 23400.0, 31558.0, 19783.0, 13255.0, 51987.0, 49290.0, 12705.0, 20742.0, 10525.0, 51883.0, 66054.0, 33974.0, 12141.0, 42412.0, 14614.0, 64268.0, 40359.0, 46676.0, 18886.0, 20699.0, 20945.0, 66173.0, 13038.0, 17957.0, 36538.0, 46513.0, 49659.0, 12775.0, 52285.0, 52879.0, 16062.0, 63854.0, 15830.0, 21490.0, 65008.0, 51912.0, 52111.0, 15015.0, 20083.0, 42732.0, 49061.0, 10619.0, 48824.0, 22830.0, 12890.0, 11875.0, 47850.0, 23137.0, 16329.0, 14974.0, 26864.0, 63559.0, 42202.0, 26386.0, 26999.0, 40572.0, 11447.0, 48800.0, 19905.0, 11810.0, 13014.0, 23414.0, 12707.0, 20503.0, 51865.0, 49359.0, 16324.0, 24104.0, 42427.0, 24018.0, 65930.0, 50566.0, 23615.0, 44628.0, 45014.0, 59307.0, 37504.0, 34856.0, 14701.0, 24605.0, 42226.0, 49313.0, 24238.0, 44615.0, 52148.0, 13998.0, 24320.0, 25312.0, 23898.0, 22936.0, 65337.0, 13436.0, 20793.0, 19804.0, 12365.0, 15740.0, 17961.0, 23358.0, 49790.0, 21724.0, 15822.0, 23046.0, 10586.0, 48901.0, 20313.0, 31056.0, 64613.0, 23110.0, 49412.0, 12099.0, 49334.0, 43215.0, 30509.0, 44242.0, 23860.0, 65809.0, 48290.0, 47593.0, 16187.0, 18738.0, 66099.0, 22944.0, 24793.0, 34466.0, 49180.0, 18252.0, 49932.0, 37378.0, 44300.0, 21954.0, 14725.0, 17027.0, 65060.0, 13165.0, 16147.0, 15296.0, 14145.0, 15486.0, 45242.0, 50061.0, 15578.0, 13849.0, 21232.0, 15445.0, 11521.0, 18198.0, 64673.0, 22474.0, 52608.0, 64808.0, 19143.0, 12760.0, 20881.0, 14522.0, 24986.0, 14964.0, 49325.0, 24399.0, 21176.0, 25063.0, 23480.0, 15156.0, 21068.0, 11741.0, 15114.0, 23127.0, 10693.0, 26832.0, 23095.0, 49526.0, 15336.0, 17122.0, 65455.0, 25267.0, 11614.0, 15193.0, 21086.0, 16259.0, 51690.0, 10381.0, 25104.0, 22754.0, 11667.0, 16745.0, 65377.0, 30232.0, 43174.0, 50611.0, 14357.0, 10112.0, 23785.0, 25718.0, 18635.0, 10922.0, 22475.0, 11185.0, 45078.0, 19854.0, 13243.0, 21641.0, 52021.0, 37221.0, 22270.0, 25444.0, 14668.0, 19001.0, 25424.0, 65424.0, 22017.0, 12567.0, 47832.0, 47491.0, 52171.0, 20519.0, 13341.0, 51735.0, 13324.0, 22207.0, 50870.0, 34653.0, 19915.0, 50725.0, 51260.0, 51539.0, 48100.0, 64233.0, 42408.0, 21576.0, 15894.0, 52196.0, 15284.0, 62750.0, 10582.0, 11271.0, 18072.0, 22557.0, 19621.0, 25693.0, 52466.0, 14655.0, 42495.0, 23799.0, 13249.0, 10124.0, 19682.0, 18350.0, 50004.0, 13292.0, 18443.0, 30276.0, 50602.0, 10210.0, 15516.0, 47865.0, 24012.0, 49321.0, 19244.0, 50098.0, 65047.0, 11848.0, 21363.0, 22402.0, 50393.0, 20567.0, 49222.0, 22851.0, 25306.0, 50317.0, 38284.0, 18676.0, 34370.0, 17456.0, 22191.0, 10654.0, 48040.0, 14637.0, 51991.0, 15857.0, 65091.0, 42258.0, 51002.0, 42233.0, 11610.0, 16942.0, 25186.0, 20085.0, 10472.0, 10377.0, 12184.0, 19640.0, 20062.0, 42195.0, 17037.0, 44360.0, 48458.0, 22232.0, 64915.0, 11277.0, 52864.0, 22042.0, 44781.0, 21343.0, 13068.0, 51019.0, 42160.0, 43188.0, 50193.0, 18948.0, 15027.0, 20884.0, 20274.0, 49629.0, 16789.0, 50343.0, 12297.0, 50847.0, 49780.0, 55179.0, 41059.0, 59579.0, 24080.0, 12883.0, 60212.0, 49983.0, 36026.0, 50114.0, 50002.0, 19864.0, 52247.0, 62569.0, 24449.0, 49619.0, 48854.0, 46708.0, 50406.0, 55662.0, 14583.0, 34486.0, 34256.0, 18534.0, 35797.0, 20832.0, 18693.0, 56363.0, 18754.0, 20467.0, 20375.0, 51906.0, 11323.0, 18918.0, 14085.0, 24266.0, 44705.0, 17564.0, 25477.0, 51812.0, 13478.0, 11559.0, 20038.0, 16157.0, 66071.0, 21323.0, 38509.0, 17882.0, 13334.0, 42325.0, 64709.0, 64946.0, 16290.0, 46731.0, 21772.0, 16087.0, 20714.0, 65297.0, 49664.0, 12417.0, 19409.0, 19370.0, 40477.0, 12679.0, 23156.0, 51970.0, 51146.0, 14749.0, 15983.0, 15791.0, 15233.0, 44864.0, 64934.0, 50650.0, 15890.0, 49041.0, 24122.0, 48710.0, 19190.0, 49022.0, 36268.0, 39070.0, 49716.0, 11356.0, 51555.0, 19611.0, 33992.0, 11450.0, 17880.0, 17603.0, 35431.0, 21780.0, 24956.0, 23636.0, 41361.0, 44344.0, 44953.0, 11011.0, 12681.0, 24278.0, 48677.0, 17198.0, 20953.0, 11962.0, 22153.0, 17144.0, 30729.0, 49286.0, 10205.0, 15301.0, 50737.0, 46434.0, 21121.0, 30120.0, 10644.0, 10439.0, 21154.0, 65138.0, 24011.0, 51673.0, 11030.0, 52706.0, 52607.0, 11178.0, 64763.0, 20954.0, 10173.0, 16669.0, 52026.0, 64520.0, 50089.0, 19809.0, 21829.0, 23944.0, 48302.0, 30069.0, 23817.0, 24611.0, 60003.0, 17945.0, 36672.0, 45144.0, 18213.0, 40418.0, 42619.0, 22898.0, 24990.0, 21942.0, 51726.0, 15223.0, 14130.0, 23901.0, 23253.0, 52741.0, 21350.0, 43053.0, 20710.0, 21508.0, 52594.0, 16978.0, 52033.0, 48685.0, 38302.0, 13374.0, 23402.0, 19067.0, 16515.0, 24677.0, 40845.0, 44876.0, 16802.0, 52906.0, 15736.0, 37568.0, 25391.0, 49813.0, 44903.0, 50569.0, 49987.0, 21040.0, 29907.0, 20863.0, 26713.0, 10458.0, 34125.0, 14841.0, 23755.0, 25297.0, 14709.0, 22536.0, 25709.0, 23505.0, 48894.0, 48831.0, 51675.0, 34043.0, 46630.0, 17842.0, 27765.0, 19015.0, 64356.0, 12418.0, 36058.0, 52721.0, 41124.0, 16263.0, 19133.0, 12400.0, 42696.0, 45027.0, 14334.0, 40727.0, 10164.0, 64545.0, 17435.0, 18882.0, 17663.0, 16969.0, 16670.0, 54242.0, 20058.0, 24645.0, 49576.0, 25208.0, 51594.0, 25579.0, 21858.0, 22534.0, 20282.0, 24489.0, 23344.0, 30072.0, 38744.0, 20068.0, 16951.0, 64654.0, 25756.0, 17942.0, 14187.0, 25141.0, 23816.0, 13717.0, 22027.0, 14636.0, 13596.0, 22452.0, 15350.0, 24769.0, 17006.0, 49967.0, 42966.0, 25870.0, 37452.0, 25696.0]

In [51]:
# Query to pull sample owners data from GBQ
samplest =tuple(samples1)

query1 = (
    "Select *"
    "FROM `beskoonlettuce-327919.wedge_transactions.transArchive_*`"
    "where card_no IN {};".format(samplest)
)
#print(query1)
#job_config = bigquery.QueryJobConfig(
 #   query_parameters=[
 #   bigquery.ArrayQueryParameter('samples', 'type':'STRING', samples)]
#)
# And we execute queries with `client.query`
query_job = client.query(
    query1,
    #job_config=job_config,
    location="US",
)

In [52]:
df = client.query(query1).to_dataframe()

In [53]:
#Once the cell above is complete with the query (may take awhile), we can read the records in the data.
df.head()

,datetime,register_no,emp_no,trans_no,upc,description,trans_type,trans_subtype,trans_status,department,...,batchHeaderID,local,organic,display,receipt,card_no,store,branch,match_id,trans_id
0,2013-10-26 16:24:24+00:00,2.0,72.0,8.0,0,InStoreCoupon,T,IC,,0.0,...,None,0.0,None,None,0.0,44300.0,1.0,0.0,0.0,46.0
1,2013-10-31 12:32:42+00:00,16.0,54.0,107.0,0,Check,T,CK,,0.0,...,None,0.0,None,None,0.0,44242.0,1.0,0.0,0.0,5.0
2,2013-10-31 12:49:01+00:00,5.0,71.0,10.0,0,Check,T,CK,,0.0,...,None,0.0,None,None,0.0,44242.0,1.0,0.0,0.0,19.0
3,2013-11-04 18:28:10+00:00,4.0,60.0,30.0,0,InStoreCoupon,T,IC,,0.0,...,None,0.0,None,None,0.0,47850.0,1.0,0.0,0.0,60.0
4,2013-11-06 11:49:17+00:00,7.0,60.0,53.0,0,EBT FS,T,EF,,0.0,...,None,0.0,None,None,0.0,48420.0,1.0,0.0,0.0,21.0

In [54]:
# The very last step is to write our dataframe to a csv file for local work.
df.to_csv('wedge_sample.csv', index=False)